[Unit]
Description=AWS Flask app
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ec2-user/reva_univ/RevaUniv
ExecStart=/home/ec2-user/reva_univ/RevaUniv/reva_env/bin/gunicorn --worker 3 --bind
Restart=always
[Install]
WantedBy=multi-user.target