[Unit]
Description=Gunicorn instance for a simple hello world app
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ec2-user/reva_univ/RevaUniv
ExecStart=/home/ec2-user/reva_univ/RevaUniv/reva_env/bin/gunicorn -b localhost:8000 app:app
Restart=always
[Install]
WantedBy=multi-user.target